<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
        <h1>Your Cart</h1>
        <div class="cart-area">
        {% if cart is not none %}
            <div class="items-div">
                {% for item in cart %}
                    <div class="single-item-div">
                        <label>{{ item["name"] }} - {{ item["price"] }}</label>
                        <label> qtty: {{ item["qtty"]}} | total: {{ item["total"]}} </label>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <h1>Add some items to see your cart</h1>
        {% endif %}
        <div>
        
        <div class="summary-area">
        </div>
    </body>
</html>