<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cart</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
    </head>
    <body>
        <div class="top-bar">
            <h1 class="main-heading">Your Cart</h1>
            <a href="/" class="home-href">Hypothetical Hats</a>
        </div>
        <div class="main-area">
            <div class="cart-area">
                {% if cart is not none %}
                    <div class="items-div">
                        {% for item in cart %}
                            <div class="single-item-div">
                                <div class="thumbnail-container">
                                    <img class="img-thumbnail" src="{{ url_for('static', filename=img_url_trim(item['picture'])) }}"></img>
                                </div>
                                <div class="single-item-info">
                                    <label>{{ item["name"] }} - {{ item["price"] }}</label>
                                    <label> qtty: {{ item["qtty"]}} | total: {{ item["total"]}} </label>
                                </div>
                                <button>Remove</button>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h1>Add some items to see your cart</h1>
                {% endif %}
            </div>

            <div class="summary-area">
                {% if info is not none %}
                    <labels>Order Total: ${{ info["total"] }}</labels>
                    <labels>Number of Items: {{ info["items"] }}</labels>
                {% endif %}
            </div>
        </div>
    </body>
</html>