<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>HTML 5 Boilerplate</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <div class="master-container">
            <div class="top-bar temp-bg">
                <div class="logo-container">
                    Hypothetical Hats
                </div>
                <div class="navbar-container">
                    <ul class="navbar">
                        <li>thing 1</li>
                        <li>thing 2</li>
                        <li>thing 3</li>    
                        <li>thing 4</li>
                        <li>thing 5</li>    
                    </ul>
                </div>
            </div>
            <div class="main-area temp-bg-2">
                h
            </div>
        </div>

    </body>
</html>