<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Super Cool Ecommerce Store</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/store.css') }}">
    </head>
    <body>
        <div class="master-container">
            <div class="top-bar">
                <div class="logo-container">
                    <h1>Hypothetical Hats</h1>
                </div>
                <div class="navbar-container">
                    <ul class="navbar">
                        <li><b><a>thing 1</a></b></li>
                        <li><b><a>thing 2</a></b></li>
                        <li><b><a>thing 3</a></b></li>    
                        <li><b><a>thing 4</a></b></li>
                        <li><b><a>thing 5</a></b></li>    
                    </ul>
                </div>
            </div>


            
            <div class="main-area">
                <div class="items-container">
                    <div class="grid">
                        {% for product in products %}
                            <div class="card">
                                <div class="cell">
                                    <label class="card_name">{{ product["name"] }}</label>
                                    <p>card description</p>
                                    <label>{{ product["price"] }}</label>
                                </div>
                            </div>
                        {% endfor %}

                        <!--
                        <div class="card">
                            <div class="cell">
                                <label class="card_name">card title</label>
                                <p>card description</p>
                            </div>
                        </div>
                        
                        <div class="card"><div class="cell"><label class="card_name">card title</label><p>card description</p></div></div>
                        <div class="card"><div class="cell"><label class="card_name">card title</label><p>card description</p></div></div>
                        
                        <div class="card"><div class="cell"><label class="card_name">card title</label><p>card description</p></div></div>
                        <div class="card"><div class="cell"><label class="card_name">card title</label><p>card description</p></div></div>
                        -->
                    </div>
                </div>
            </div>

            <img src="static\assets\hats\dapper snapback.png"></img>
        </div>

    </body>
</html>